doctype html
//
    144.974, -37.809
html
    head
        script(src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.js')
        link(href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.css', rel='stylesheet')
        style.
            body {
            color: #404040;
            font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
            margin: 0;
            padding: 0;
            -webkit-font-smoothing: antialiased;
            }
            * {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            }
            h1 {
            font-size: 22px;
            margin: 0;
            font-weight: 400;
            line-height: 20px;
            padding: 20px 2px;
            }
            a {
            color: #404040;
            text-decoration: none;
            }
            a:hover {
            color: #101010;
            }
            .sidebar {
            position: absolute;
            width: 33.3333%;
            height: 100%;
            top: 0;
            left: 0;
            overflow: hidden;
            border-right: 1px solid rgba(0, 0, 0, 0.25);
            }
            .pad2 {
            padding: 20px;
            }
            .map {
            position: absolute;
            left: 33.3333%;
            width: 66.6666%;
            top: 0;
            bottom: 0;
            }
            .heading {
            background: #fff;
            border-bottom: 1px solid #eee;
            height: 60px;
            line-height: 60px;
            padding: 0 10px;
            }
            .listings {
            height: 100%;
            overflow: auto;
            padding-bottom: 60px;
            }
            .listings .item {
            display: block;
            border-bottom: 1px solid #eee;
            padding: 10px;
            text-decoration: none;
            }
            .listings .item:last-child {
            border-bottom: none;
            }
            .listings .item .title {
            display: block;
            color: #00853e;
            font-weight: 700;
            }
            .listings .item .title small {
            font-weight: 400;
            }
            .listings .item.active .title,
            .listings .item .title:hover {
            color: #8cc63f;
            }
            .listings .item.active {
            background-color: #f8f8f8;
            }
            ::-webkit-scrollbar {
            width: 3px;
            height: 3px;
            border-left: 0;
            background: rgba(0, 0, 0, 0.1);
            }
            ::-webkit-scrollbar-track {
            background: none;
            }
            ::-webkit-scrollbar-thumb {
            background: #00853e;
            border-radius: 0;
            }
            .clearfix {
            display: block;
            }
            .clearfix::after {
            content: '.';
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
            }
    body
        .sidebar
            .heading
                h1 Carparks
            #listings.listings
        #map.map
        script.
            var carpark_collection = !{carpark_collection}

            mapboxgl.accessToken = 'pk.eyJ1IjoieXVtaW5vdW5nIiwiYSI6ImNqdXczOWVzazA4OXM0M2xhMHJ3amhyOWUifQ.EXLrlr49xL8WfBh5PAVWMw';
            // This adds the map to your page
            var map = new mapboxgl.Map({
            // container id specified in the HTML
            container: 'map',
            // style URL
            style: 'mapbox://styles/mapbox/light-v10',
            // initial position in [lon, lat] format
            center: [144.974, -37.809],
            // initial zoom
            zoom: 14
            });
            map.on('load', function (e) {
            // Add the data to your map as a layer
            buildLocationList(carpark_collection);
            map.addLayer({
            id: 'locations',
            type: 'symbol',
            // Add a GeoJSON source containing place coordinates and information.
            source: {
            type: 'geojson',
            data: carpark_collection
            },
            layout: {
            'icon-image': 'car-15',
            'icon-allow-overlap': true,
            }
            });
            });
            function buildLocationList(data) {
            // Iterate through the list of stores
            for (i = 0; i < data.features.length; i++) {
            var currentFeature = data.features[i];
            // Shorten data.feature.properties to `prop` so we're not
            // writing this long form over and over again.
            var prop = currentFeature.properties;
            // Select the listing container in the HTML and append a div
            // with the class 'item' for each store
            var listings = document.getElementById('listings');
            var listing = listings.appendChild(document.createElement('div'));
            listing.className = 'item';
            listing.id = 'listing-' + i;
            // Create a new link with the class 'title' for each store
            // and fill it with the store address
            var link = listing.appendChild(document.createElement('a'));
            link.href = '#';
            link.className = 'title';
            link.dataPosition = i;
            link.innerHTML = prop.status;
            // Create a new div with the class 'details' for each store
            // and fill it with the city and phone number
            var details = listing.appendChild(document.createElement('div'));
            details.innerHTML = prop.city;
            if (prop.phone) {
            details.innerHTML += ' · ' + prop.phoneFormatted;
            }
            }
            }
