
html{
    height: 100%;
}

body{
    height: 100%;

    font-family: 'Roboto Mono', monospace;
    background-image: url("https://ezpark-project.herokuapp.com/img/background.png");
    background-attachment: scroll;
}

/*#00255d*/

.message-header {
    background-color: #00255d;
}

.button {
    color: #00255d;
}

.logo {
    height: 6.5rem;
}

.like {
    font-size:66px;
    color:#ccc;
    cursor:pointer;
}

