doctype html
html(lang='en')
	head
		title Carpark
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css')
		script(defer='', src='https://use.fontawesome.com/releases/v5.3.1/js/all.js')
		link(href='https://fonts.googleapis.com/css?family=Roboto+Mono', rel='stylesheet')
		style.
			body {
			font-family: 'Roboto Mono', monospace;
			}
	body
		section.section
			.container
				.columns
					.column.is-offset-one-quarter.is-half
						article.message.is-small
							.message-header Carpark ID
							.message-body
								| #{status}
								br
								| Latitude: #{lat}
								br
								| Longitude: #{lon}
				.columns
					.column.is-offset-one-quarter.is-half.has-text-centered
						a(href='/') Go back to home page
